header {
  background-color: #23221f;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.titulomenu{
margin-left: 40px;
margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(170, 170, 170); /*para que se cambie de color a gris*/
}

.logotipo {
  width: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 30px; /*figma me dio esto para que sea asi de redondo*/
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.fotoprincipal {
  width: 100%;
  height: 150px;
  display: flex;
  background-image: url(foto1.jpg);
}

.nosotros {
  text-align: center;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 50px 0;
  transition: background-color 0.3s ease; /*con esto se hace la transición suave*/
  position: relative;
}

section.gris {
  background-color: #eaeaea;
}

section h2 {
  margin-top: 0;
}

section p {
  line-height: 1.6;
}

section ul {
  padding-left: 20px;
}

.servicios-contenedor {
  display: flex;
  justify-content: space-between;
}

.servicio {
  width: calc(25% - 20px); /*el 25% del ancho del contenedor menos 20 píxeles.*/
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*con esto agrego sombra*/
  transition: background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.servicio:hover {
  background-color: #d3d3d3;
}

div.vision {
  padding-bottom: 10px;
  padding-top: 10px;
}

.servicio img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
}

.servicio h3,
.servicio p {
  padding: 10px;
  margin: 0;
}

footer {
  background-color: #23221f;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contactoCopy {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.info {
  text-align: left;
  margin-left: 50px;
}

.copyright {
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

@media (max-width: 765px) {
  nav ul {
    flex-direction: row;
  }
}
